.edit-task-form-content {
    gap: 8px;
}

@media (max-width: 1100px) {

    #popup-due-date,
    #popup-priority {
        max-width: none;
    }

    .prio_spacing img {
        max-width: 22px;
    }

    li span {
        width: 80%;
    }
}