@media (max-width: 1100px) {
    #edit-task-form {
        flex-direction: column;
        overflow: auto;
    }

    .edit-task-main {
        max-height: 560px;
        margin: 32px;
    }

    #form-add-edit-task{
        max-height: 560px;
        padding-right: 35px;
    }

    .grey-bar {
        display: none;
    }

    #popup-title h2 {
        font-size: 36px;
        font-weight: 700;
    }

    .overlay-content {
        font-size: 16px;
        margin-left: 0;
        margin-bottom: 71px;
    }

    #editing-cancel-btn {
        display: none;
    }

    #editing-save-btn {
        position: absolute;
        right: 24px;
        width: 104px;
        bottom: 13px;
    }
}

@media (max-width: 800px) {
    .overlay-content {
        padding: 2rem;
    }
}

@media (max-width: 680px) {
    #form-add-edit-task {
        padding: 2rem;
        padding-right: 14px;
    }

    #editing-save-btn{
        font-size: 16px;
        height: 40px;
    }
}

@media (max-width: 520px) {
    .edit-task-cancel-and-save-btn {
        flex-direction: column;
        align-items: center;
    }

    #editing-priority-buttons {
        gap: 8px;
    }

    #editing-priority-buttons button {
        text-wrap-mode: nowrap;
        font-size: 16px;
        height: 32px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    #editing-priority-buttons button img {
        height: 13px;
        width: 17.06px;
        object-fit: contain;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

@media (max-width: 500px) {
    .edit-task-main h2 {
        font-size: 40px;
    }

    .overlay-section {
        gap: 16px;
    }

    #popup-title h2 {
        font-size: 36px;
        font-weight: 700;
        margin: 4px 0;
    }
}

@media (max-width: 450px) {
    #editing-contacts-selected {
        font-size: 16px;
    }
}


@media (max-width: 400px) {
    .edit-task-main {
        padding: 4rem 2rem;
    }

    .required-explain {
        margin-top: 2px;
    }
}


@media (min-width: 1100px) {
    .edit-task-form-content {
        gap: 10px;
    }
}

@media (max-width: 430px) {
    .overlay{
        align-items: normal
    }
}

@media (min-width: 1101px){
    #subtask-list{
        max-height: 64px;
    }
}