.no-scroll {
  overflow: hidden !important;
}

@media (max-width: 1100px) {
  #right-section.slide-in {
    position: fixed;
    overflow: auto;
  }

  .overlay-box {
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .overlay-right {
    flex-direction: column;
    border-radius: 0 0 25px 25px;
    width: 100%;
    position: static;
    padding: 2rem;
  }

  .overlay-left {
    flex-direction: column;
    border-radius: 25px 25px 0 0;
    width: 100%;
    padding: 4rem 2rem;
  }

  .overlay-left, .overlay-right,
  .lightbox-left {
    min-height: fit-content;
  }

  #create-contact-form {
    margin-top: -60px;
  }

  #create-contact-form input {
    width: 90%;
  }

  .add-initial-circle {
    width: 95.07px;
    padding: .764rem 1rem;
    position: relative;
    top: -60px;
  }

  .edit-initial-circle {
    max-width: 120px;
    max-height: 120px;
    border-radius: 100%;
    position: relative;
    top: -128px;
  }

  .contact-details-haeder {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    font-size: 20px;
  }

  h1 {
    font-size: 47px;
  }

  #current-btns {
    display: none;
  }

  #add-contact-btn-big {
    display: none;
  }

  #current-btns-responsive {
    gap: 0;
    flex-direction: column;
    position: absolute;
    top: 68%;
    right: 1%;
    transform: translateY(230%);
    transition: transform 0.5s ease-in-out;
    background-color: var(--clr-200);
    z-index: 9999;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px 25px 0 25px;
  }

  #current-btns-responsive.show {
    transform: translateY(0);
  }

  #current-edit {
    border-radius: 25px 25px 0 0;
  }

  #current-delete {
    height: 50px;
    border-radius: 0 0 0 25px;
  }

  #responsive-small-edit, #responsive-small-add {
    top: 77%;
    right: 10%;
    background-color: var(--clr-700);
    height: 56px;
    width: 56px;
    border: 2px solid var(--clr-200);
    border-radius: 75px;
    z-index: 800;
  }

  #contacts-main {
    margin: 0;
    height: calc(100vh - 170px);
    padding: 1rem 1rem 0 1rem;
  }

  #right-section {
    padding: 0;
    position: absolute;
    background-color: var(--clr-200);
    height: calc(100vh - 169px);
    width: 100vw;
    left: 0;
    overflow: hidden;
  }

  .split-contact-header {
    position: absolute;
    rotate: 90deg;
    top: 70px;
    left: 55px;
    height: 90px;
  }

  #showed-current-contact {
    padding: 5rem 1rem;
  }

  .current-top {
    gap: 21px;
  }

  #left-section {
    max-width: none;
    min-width: auto;
    width: auto;
  }

  .responsive-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  #back-icon {
    padding: 0;
    display: block;
  }

  #lightbox {
    flex-direction: column;
    height: 100%;
    width: auto;
    transform: translatey(100%);
  }

  .join-logo-left {
    display: none;
  }

  #lightbox h2 {
    font-size: var(--fs-47);
    margin: 1rem;
  }

  #lightbox input {
    min-width: 0;
    margin: 0px 8px;
  }

  .lightbox-right {
    border-radius: 0 0 20px 20px;
    padding: 7rem 0 2rem 0;
    min-height: fit-content;
    flex-direction: column;
  }

  .lightbox-left {
    border-radius: 20px 20px 0 0;
    padding: 4rem 0 7rem 0;
    min-height: fit-content;
  }

  .blue-line {
    margin: 10px 1rem;
  }

  .lightbox-left span {
    font-size: 20px;
    align-self: auto;
    text-wrap-mode: nowrap;
  }

  #current-name {
    font-size: 27px;
  }

  .current-information span, #current-mail,
  #current-phone {
    font-size: 16px;
  }

  #current-icon {
    height: 70px;
    width: 70px;
    font-size: 25px;
  }

  .current-icon, #edit-icon {
    position: fixed;
    top: 32%;
    border: solid;
  }

  .editing-lighbox {
    padding: 0;
    margin-top: -120px;
  }

  .btns-lighbox {
    justify-content: center;
    gap: 12px;
  }

  #lightbox.show {
    transform: translateY(-38px);
  }

  .close-button, .close-overlay-btn {
    color: white;
  }

  #cancel-btn {
    display: none;
  }

  .lightbox-subline {
    height: 23px;
  }

  .editing-lighbox {
    gap: 18px;
  }
}

@media (max-width: 970px) {
  .split-contact-header {
    display: none;
  }

  .contact-details-haeder span {
    position: relative;
  }

  .contact-details-haeder span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 50%;
    height: 5px;
    background-color: var(--clr-500);
    border-radius: 4px;
  }

  #right-section {
    padding: 0;
  }

  #showed-current-contact {
    padding: 5rem 16px;
  }
}

@media (max-width: 480px) {
  .overlay-left span, .lightbox-left span {
    font-size: 21px;
  }

  .overlay-right {
    padding: 2rem 0rem;
  }

  .overlay-left {
    padding: 4rem 0rem;
  }

  .overlay-left h2 {
    font-size: 48px;
  }

  .overlay-box {
    max-width: 320px;
  }
}

@media (max-width: 350px) {
  .initial-icon {
    height: 40px;
    width: 40px;
  }

  .current-icon, #edit-icon {
    height: 70px;
    width: 70px;
    padding: 1rem;
  }

  .editing-lighbox {
    align-items: center;
  }

  #lightbox input {
    font-size: 18px;
    width: 80%;
    padding: 0px 48px 0px 8px;
    margin-left: 33px;
    height: 40px;
  }

  #add-contact-btn-big, #create-btn,
  #saveBtn, #cancel-btn, #deleteBtn {
    gap: 6px;
  }

  #add-contact-btn-big, #create-btn,
  #saveBtn, #cancel-btn, #deleteBtn {
    padding: 0.8rem;
  }

  #add-contact-btn-big, #create-btn,
  #saveBtn, #cancel-btn, #deleteBtn {
    font-size: 16px;
  }

  .list-contact-wrapper {
    gap: 20px;
    padding: 0.8rem;
  }

  #lightbox h2 {
    font-size: 40px;
  }
}