@media (max-width: 1100px) {
    .legal-main {
        padding-bottom: 10vh;
        margin: 0;
    }

    .sidebar {
        width: 100vw;
        max-width: none;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        top: auto;
        bottom: 0;
        padding-top: 0px;
        gap: 0;
    }

    .sidebar-logo {
        display: none;
    }

    .sidebar-nav {
        flex-direction: row;
        justify-content: space-around;
        gap: 6px;
        padding: 0;
    }

    .responsive-font {
        font-size: 14px;
    }

    .nav-link {
        flex-direction: column;
        padding: 10px;
    }

    .nav-link:hover {
        background-color: #1c2b3b;
    }

    .nav-link img {
        width: 20px;
        height: 20px;
    }

    .sidebar-footer {
        padding: 0;
        display: none;
    }

    .responsive-hide-on-mobile {
        display: none;
    }

    .responsive-show-on-mobile {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }

    .add-task-link,
    .board-link,
    .contacts-link,
    .summary-link,
    .log-in-link,
    .privacy-policy-link,
    .legal-link {
        border-radius: 20px;
    }

    .privacy-policy-link,
    .legal-link {
        padding: 31px 10px;
    }

    .sidebar-footer-links a {
        margin: 0;
    }

    .unregistered-sidebar {
        display: flex;
        flex-direction: row;
    }
}