.add-task-main {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 4rem;
    padding-bottom: 0;
    margin-left: 22.138rem;
}

#add-task-form {
    display: flex;
    gap: 32px;
}

.add-task-form-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

label, ::placeholder {
    font-size: var(--fs-20);
    color: #2a3647;
}

input, select,
textarea {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--clr-300);
    border-radius: 10px;
    font-size: var(--fs-20);
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

select {
    background-image: url(../../../assets/img/drop-down-arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: fit-content;
}

.description-input {
    height: 100px;
    resize: none;
}

.grey-bar {
    width: 1px;
    background-color: var(--clr-300);
}

option {
    font-size: var(--fs-16);
    overflow: hidden;
}

.required:after {
    content: " *";
    color: #ff8291;
}

.required-explain {
    font-size: var(--fs-20);
    margin-top: -64px;
}

.required-explain:before {
    content: " *";
    color: #ff8291;
}

.required-explain-responsive {
    display: none;
    font-size: var(--fs-20);
}

.required-explain-responsive:before {
    content: " *";
    color: red;
}

.disabled {
    cursor: not-allowed;
}

.subtask-wrapper {
    position: relative;
    width: 100%;
}

.subtask-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: var(--fs-20);
    border: none;
    background: none;
    cursor: pointer;
}

.subtask-list {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    position: relative;
}

li {
    font-size: var(--fs-20);
    margin: 0;
}

.subtask-list::before {
  content: "•";
  position: absolute;
  left: 0;
}

.subtask-icons-div{
    display: flex;
    align-items: center;
}

.subtask-edit-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 0px;
    min-height: 32px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.subtask-edit-input {
    flex: 1;
    font-size: var(--fs-20);
    padding: 8px;
    border: 1px solid var(--clr-300);
    border-radius: 10px;
    outline: none;
    font-family: "Inter", sans-serif;
    background-color: white;
    width: 100%;
}

.subtask-edit-wrapper .subtask-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0 2px;
}

.subtask-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 4px;
    min-height: 32px;
    position: relative;
    padding-left: 1em;
}

.subtask-item::before {
    content: "•";
    position: absolute;
    left: 0;
    color: black;
    font-weight: bold;
}

.subtask-text,
.subtask-edit-input {
    flex: 1;
    font-size: var(--fs-20);
    border: none;
    background: transparent;
    padding: 0;
    min-height: 32px;
    font-family: "Inter", sans-serif;
    align-content: center;
}

.subtask-item .subtask-text {
    flex: 1;
    font-size: var(--fs-20);
}

.subtask-edit-input {
    border-bottom: 1px solid var(--clr-300);
    outline: none;
}

.subtask-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 8px;
    object-fit: contain;
}

.subtask-item input.subtask-edit-input {
    width: 100%;
    background-color: transparent;
    margin: 0;
}

.subtask-item:hover {
    background-color: var(--clr-300);
    border-radius: 10px;
}

.subtask-item img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0 5px;
}

#subtask-list {
    height: 45px;
    max-height: 160px;
    overflow-y: auto;
    margin-top: 8px;
    padding-right: 6px;
    padding-left: 0;
}

#subtask-list::-webkit-scrollbar {
    width: 6px;
}

#subtask-list::-webkit-scrollbar-thumb {
    background-color: var(--clr-500);
    border-radius: 10px;
}