.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--clr-700);
    color: #fff;
    padding: 16px 32px;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.error-message-popup {
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    background: #c93939;
    color: #fff;
    padding: 16px 32px;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    z-index: 1001;
    opacity: 0.96;
    transition: opacity 0.4s;
}

#error-message {
    font-size: 16px;
}