#add-contact-btn-big {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    flex: 1;
    max-height: 50px;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: var(--fs-21);
    font-weight: 700;
    color: var(--clr-200);
    background-color: var(--clr-700);
    text-wrap: nowrap;
    cursor: pointer;
    width: 90%;
    align-self: center;
    margin: 12px;
}

#add-contact-btn-big:hover {
    background-color: var(--clr-500);
}







.current-btns {
    display: flex;
    justify-content: start;
    gap: 13px;
}

#current-edit-responsive,
#current-delete-responsive,
#current-edit,
#current-delete {
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 25px;
    font-size: var(--fs-16);
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
}

#current-edit-responsive:hover,
#current-delete-responsive:hover,
#current-edit:hover,
#current-delete:hover {
    color: var(--clr-500);
}

.btns-lighbox {
    display: flex;
    gap: 24px;
}


#create-contact-btn,
#create-btn,
#saveBtn,
#cancel-btn,
#deleteBtn {
    display: flex;
    gap: 4px;
    padding: 1rem;
    border: 1px solid var(--clr-700);
    border-radius: 10px;
    font-size: var(--fs-21);
    font-weight: 700;
    color: var(--clr-200);
    background-color: var(--clr-700);
    cursor: pointer;
}

.button-row {
    display: flex;
    gap: 32px;
    justify-content: center;
}

#create-contact-btn:hover,
#saveBtn:hover {
    background-color: var(--clr-500);
    border: 1px solid var(--clr-500);
}

#create-btn img,
#saveBtn img {
    height: 20px;
    width: 20px;
    align-self: center;
}

#cancel-btn,
#deleteBtn {
    color: var(--clr-700);
    background-color: var(--clr-200);
}

#cancel-btn:hover,
#deleteBtn:hover {
    border: 1px solid var(--clr-500);
    color: var(--clr-500);
}

#responsive-small-edit,
#responsive-small-add {
    position: absolute;
    top: -100px;
}