/* Left Section */
#contacts-main {
    display: flex;
    height: calc(100vh - 125px);
    padding: 2rem 2rem 0 2rem;
    margin-left: 22.138rem;
    overflow-x: hidden;
}

#left-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 500px;
    min-width: 318px;
    width: 31.5%;
}

/* Right Section */
#right-section {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: auto;
    padding: 2rem 0 0 2rem;
    z-index: 900;
}

#right-section.slide-in {
    transform: translateX(0);
    opacity: 1;
    z-index: 20;
}