.overlay-body {
  position: fixed;
  display: none;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  z-index: 900;
}

.overlay-window {
  display: none;
  flex-direction: column;
  gap: 32px;
  background-color: var(--clr-700);
  color: white;
  padding: 24px;
  border-radius: 25px;
  z-index: 9999;
}

.overlay-window * {
  font-size: 16px;
}

.overlay-buttons-div {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}

.overlay-buttons-div button {
  padding: 5px 10px;
  border: 2px solid #2a3647;
  border-radius: 12px;
  font-weight: 600;
  color: var(--clr-700);
  background-color: var(--clr-200);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: solid 1px;
}

.overlay-buttons-div button:hover {
  color: white;
  background-color: #2a3647;
  border: var(--clr-200) solid 1px;
}

.confirmation-window {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: var(--clr-700);
  color: white;
  padding: 12px 32px;
  border-radius: 16px;
  font-size: 20px;
  z-index: 9999;
  /* margin-left, top: 45% usw. entfernen! */
}


.especially-for-board {
  z-index: 9999;
}

/* Animation für das Overlay-Fenster */
.overlay-window {
  opacity: 0;
  /* Startet unsichtbar */
  transform: translateY(-20px);
  /* Startet 20px oberhalb */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  /* Sanfte Animation */
}

/* Sichtbarer Zustand */
.overlay-body:not(.d-none) .overlay-window {
  display: flex;
  /* Sicherstellen, dass das Fenster sichtbar ist */
  opacity: 1;
  /* Voll sichtbar */
  transform: translateY(0);
  /* An der endgültigen Position */
}

/* Sicherstellen, dass overlay-body sichtbar ist, wenn d-none entfernt wird */
.overlay-body:not(.d-none) {
  display: flex;
}

.overlay-window input {
  height: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: var(--fs-20);
  padding: 0 60px 0 16px;
  border: 1px solid var(--clr-300);
  background-color: var(--clr-200);
  margin-bottom: 16px;
  /* Abstand zwischen Eingabefeldern */
}

.overlay-window input#edit-name {
  background: url("../assets/img/person.png") no-repeat right 24px center;
}

.overlay-window input#edit-email {
  background: url("../assets/img/mail.svg") no-repeat right 24px center;
}

.overlay-window input#edit-phone {
  background: url("../assets/img/phone.png") no-repeat right 24px center;
}