.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.overlay-content {
    background-color: var(--clr-200);
    border-radius: 25px;
    padding: 4rem;
    width: clamp(300px, 525px, 1200px);
    margin-left: 232px;
    position: relative;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#popup-title h2 {
    font-size: 61px;
    font-weight: 700;
    margin: 16px 0;
}

.add-task-form-content {
    width: 100%;
}

#edit-task-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.edit-task-main {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: var(--clr-200);
    max-width: 800px;
    height: min-content;
    border-radius: 25px;
    position: relative;
}

#form-add-edit-task {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: min-content;
    width: 80%;
    padding: 4rem;
    border-radius: 25px;
    background: var(--clr-200);
    z-index: 1000;
    max-width: 1459px;
}

#form-add-edit-task h1 {
    margin: 0 0 2rem 0;
}

#add-edit-task-overlay {
    align-items: center;
    justify-content: center;
    z-index: 10001;
}

#edit-task-form {
    display: flex;
    gap: 32px;
}

.edit-task-form-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

label, ::placeholder {
    font-size: var(--fs-20);
}

input, select,
textarea {
    height: 40px;
    width: 100%;
    padding: 8px;
    border: 1px solid var(--clr-300);
    border-radius: 10px;
    font-size: var(--fs-20);
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.description-input {
    height: 100px;
    resize: none;
}

.grey-bar {
    width: 1px;
    background-color: var(--clr-300);
}

.overlay-section {
    gap: 21px;

    overflow: hidden auto;
    margin-bottom: 16px;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.overlay-section:nth-of-type(2){
    height: 40%;
}

.overlay-section input {
    max-width: 25px;
    font-size: var(--fs-16);
}

.title-input {
    font-size: 35px;
    color: black;
}

.initial-group {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 0;
    height: auto;
    padding-left: 12px;
    margin: 12px 0px 12px 0;
}

.initial-group .initials-task {
    margin-top: 0;
}

#add-task-form input, #add-task-form textarea,
#add-task-form select {
    border: unset;
    border-radius: 10px;
    padding: 0 12px;
    margin-bottom: 8px;
    outline: none;
    box-shadow: 0 1.5px 8px rgba(0, 0, 0, 0.04);
}

#add-task-form textarea {
    padding-top: 8px;
}

#add-task-form input:focus, #add-task-form textarea:focus,
#add-task-form select:focus {
    outline: 2px solid #2a3647;
}


.overlay-key, .overlay-section b {
    font-size: var(--fs-20);
    font-weight: 500;
    color: #2a3647;
}

#popup-due-date, #popup-priority {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
}

.prio_spacing {
    display: flex;
    gap: 16px;
}

.prio_spacing img {
    object-fit: contain;
}

.bottom-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.required:after {
    content: " *";
    color: red;
}

.required-explain {
    margin-top: 0px;
}

.required-explain:before {
    content: " *";
    color: red;
}

.required-explain-responsive {
    display: none;
    font-size: var(--fs-20);
}

.required-explain-responsive:before {
    content: " *";
    color: red;
}

.title-size {
    font-size: var(--fs-20);
}

.overlay-body {
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.overlay-window {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--clr-700);
    color: white;
    border-radius: 16px;
    margin-left: 232px;
}

.overlay-window * {
    font-size: 16px;
}

.overlay-buttons-div {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
}

.overlay-buttons-div button {
    padding: 5px 10px;
    border: 2px solid #2a3647;
    border-radius: 12px;
    font-weight: 600;
    color: var(--clr-700);
    background-color: var(--clr-200);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: solid 1px;
}

.overlay-buttons-div button:hover {
    color: white;
    background-color: #2a3647;
    border: var(--clr-200) solid 1px;
}