.topbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-left: 22.138rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.topbar-title {
  font-size: 20px;
  font-weight: 400;
  color: black;
  padding-left: 64px;
}

.topbar-logo {
  display: none;
}

.topbar-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.topbar-icon {
  width: 32px;
  cursor: pointer;
}

.topbar-icon:hover {
  scale: 120%;
  transition: 0.2s ease-in-out;
}

.topbar-user {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--clr-200);
  color: #29abe2;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #000;
  font-size: var(--fs-27);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  line-height: 8px;
}

.topbar-user:hover {
  background-color: #e0e0e0;
}

.menu {
  position: fixed;
  right: 0;
  flex-direction: column;
  background-color: var(--clr-700);
  padding: 24px;
  border-radius: 16px 0px 16px 16px;
  gap: 8px;
  z-index: 1000;
}

.menu a {
  text-decoration: none;
  color: var(--clr-200);
  font-size: var(--fs-16);
}

.display-none {
  display: none;
}