@media (min-width: 1101px) {
    .starting-logo-responsive {
        display: none;
    }
}

@media (max-width: 1100px) {
    .starting-logo {
        object-fit: contain;
        opacity: 0;
    }

    .starting-logo-responsive {
        animation: slideToLeftCornerResponsive 1.25s 0.637s ease forwards;
        background-color: var(--clr-700);
        height: 100%;
        width: 100%;
        object-fit: none;
        border: none;
        box-shadow: none;
    }

    @keyframes slideToLeftCornerResponsive {
        to {
            width: 50px;
            height: 120px;
            top: 32px;
            left: 20px;
            transform: translate(0, 0);
            background-color: transparent;
            opacity: 0;
            object-fit: none;
        }
    }

    @keyframes slideToLeftCorner {
        to {
            width: 50px;
            height: 120px;
            top: 10px;
            left: 20px;
            transform: translate(0, 0);
            background-color: transparent;
            object-fit: contain;
            opacity: 1;
        }
    }
}